body {
    background-color: rgb(11, 11, 11);
    color: white;

}

#title{
    font-family: 'Chewy', cursive;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    color: rgb(202, 101, 202);
}


#image {
    float: left;
    border: 2px solid rgb(235, 229, 229);
    margin-right: 10px;
}

#trailer{
    size: 100px;
}